.nav1{
    padding-left: 500px;
    padding-right: 30px;
}
.nav2{
    padding-left: 30px;
    padding-right: 30px;
}
.nav-all{
    font-family: monospace;

}
.main-image img{
    width: 100%;
    height: 500px;
}
.main-info{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.main-info h4{
    font-weight: 400;
}
.main-info span{
    opacity: 0.5;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(83, 83, 83);
    opacity: 1;
}
.info2{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.info2 img{
    width: 500px;
    height: 300px;
}
.info2 span{
    opacity: 0.5;
}
.info2 h4{
    font-weight: 400;
}
.signUp{
    background-color: rgba(221, 217, 217, 0.342);
    margin: 0 auto;
    width: 900px;
    height: 190px;
    text-align: center;
    padding-top: 30px;
}

.sign{
    width: 300px;
    margin: 40px auto;
}
.form-control {
border: 1px solid transparent;
background-color: transparent;
border-bottom: 2px solid rgb(59, 59, 59);
}
.btn {
background-color: transparent;
border: 1px solid transparent;
border-bottom: 2px solid rgb(59, 59, 59);
}
.info3{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.info3 img{
    width: 500px;
    height: 300px;
}
.info3 span{
    opacity: 0.5;
}
.info3 h4{
    font-weight: 400;
}
.load{
    text-align: center;
}
.load button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 0%;
    border: 1px solid black;
    width: 150px;
}
.first-a a{
    margin-left: 60px;
}
.second-a{
    margin-left: 600px;
}
.futter{
    display: flex;
    height: 100px;
    padding-top: 30px;
    background-color: rgba(221, 217, 217, 0.342) ;
}
.second-a i {
    font-size: 30px;
    margin-left:30px ;
}